.ContentSlider-navigation {
    span {
        font-size: 0;
    }
    
    &, &:hover, &:focus {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

.ContentSlider-navigation--prev {
    left: 0%;
}

.ContentSlider-navigation--next {
    right: 0%;
}