//Fixes for GForms
.gform_wrapper {
    .top_label {
        display: block;
        label.gfield_label {
            display: block;
            margin-bottom: 10px;
        }
        
        .ginput_container {
            input.medium, select.medium {
                width: 100%;
            }
        }
    }
}

.gform_footer {
    .FormItem--actions !important;
}