.OpenPositionDetails {
	&-wrapper{
		display: grid;
		grid-template-columns: 654px 1fr;
		gap: 90px;
		@media(max-width: 1200px){
			grid-template-columns: 500px 1fr;
		}
		@media(max-width: 1024px){
			display: block;
		}
	}
	&-details{

	}
	&-inner{

	}
	&-department{
		font-family: Hauora,sans-serif;
		font-size: 20px;
		font-weight: 600;
		color: #fc6815;
		line-height: 36px;
		letter-spacing: 0.8px;
		margin: 0 0 4px 0;
		@media(max-width: 767px){
			font-size: 12px;
			line-height: 20px;
			letter-spacing: 0.48px;
		}
	}
	&-title{
		font-family: Hauora,sans-serif;
		font-size: 40px;
		font-weight: 600;
		color: #120c17;
		line-height: 64px;
		letter-spacing: 2px;
		margin: 0 0 8px 0;
		@media(max-width: 767px){
			line-height: 51.2px;
			font-size: 32px;
			letter-spacing: 1.6px;
		}
	}
	&-location{
		font-family: Hauora,sans-serif;
		font-size: 20px;
		font-weight: normal;
		line-height: 36px;
		letter-spacing: 0.8px;
		color: #737373;
		margin: 0 0 22px 0;
	    @media(max-width: 767px){
			font-size: 14px;
			line-height: 24px;
			letter-spacing: 0.56px;
			margin: 0 0 16px 0;
		}
	}
	&-content{
		max-width: 645px;
		h1{
			font-family: Hauora, sans-serif;
			font-size: 24px;
			font-weight: 600;
			line-height: normal;
			letter-spacing: 1.2px;
			color: #120c17;
			margin: 20px 0;
		}
		ul{
			margin: 0;
			li{
				font-family: Hauora,sans-serif;
				font-size: 14px;
				font-weight: normal;
				line-height: 24px;
				letter-spacing: 0.56px;
				color: #737373;
				margin: 0 0 12px;
			}
		}
		p{
			margin-bottom: 10px;
		}
	}
	&-form{
		position: sticky;
		top: 150px;
		padding: 20px;
		background: #ccc;
		.job__form__helper{
			float:right;
			@media(max-width: 1024px){
				font-size: 12px;
			}
		}
		.section__head{
			font-size: 24px;
		}
		#submitForm{
			background-color: #fc6815;
			color: #fff;
			border:none;
		}
		#submitForm:hover, #submitForm:active:focus, #submitForm:focus{
			border:none;
			outline: none;
		}
		.form-error{
			display: none;
			color: #cc4b37;
			font-size: 12px;
			font-weight: 300;
			font-family: Hauora,sans-serif;
		}
		.message{
			display: none;
		}
	}
}
