@@include('./assets/frag/html.frag.html')

<title>Footer component - Phylactery 1.0.0 by HUEMOR</title>

@@include('./components/SiteHeader/phylactery_siteheader.frag.html')
<header class="HeroHeader HeroHeader--thin HeroHeader--dark_bg" style="background-image: url(../../components/HeroHeader/test_background.svg);">
    <div class="HeroHeader-valign">
        <div class="HeroHeader-container">
            <h1 class="HeroHeader-title">Footer component</h1>
        </div>
    </div>
</header>

<main>

    <section class="Container Example-section">
        <div class="Example-content">
            <h2>Standard Footer</h2>
            <p></p>
        </div>
        
        <div class="Example-specimen" style="text-align: left">
            <button class="Example-specimen_toggle" type="button" data-specimen-toggle="Footer-specimen">View Source</button>
            <div class="Example-large_specimen_content is-Example-specimen--visible" id="Footer-specimen" data-specimen>
                <footer class="SiteFooter">
                    <div class="SiteFooter-container">
                        <nav class="SiteFooter-menu">
                            <h3 class="SiteFooter-menu_title">List Header</h3>
                            <ul class="SiteFooter-menu_list">
                                <li>
                                    <a href="#">Baloon Burst</a>
                                </li>
                                <li>
                                    <a href="#">Cast Aways</a>
                                </li>
                                <li>
                                    <a href="#">Buried Treasure</a>
                                </li>
                                <li>
                                    <a href="#">Mario Bandstand</a>
                                </li>
                            </ul>
                        </nav>
                        <nav class="SiteFooter-menu">
                            <h3 class="SiteFooter-menu_title">List Header</h3>
                            <ul class="SiteFooter-menu_list">
                                <li>
                                    <a href="#">Baloon Burst</a>
                                </li>
                                <li>
                                    <a href="#">Cast Aways</a>
                                </li>
                                <li>
                                    <a href="#">Buried Treasure</a>
                                </li>
                                <li>
                                    <a href="#">Mario Bandstand</a>
                                </li>
                            </ul>
                        </nav>
                        <form class="SiteFooter-newsletter_signup">
                            <h3 class="SiteFooter-form_title">Newsletter Signup</h3>
                            <div class="SiteFooter-form_item FormItem">
                                <input type="email" placeholder="Email Address">
                            </div>
                            <div class="SiteFooter-inline_submit FormItem FormItem--actions">
                                <button type="submit" class="FormItem-action FormItem-action--primary">Sign Up</button>
                            </div>
                        </form>
                        <div class="SiteFooter-legal">&copy; Huemor Designs LLC 2017 | <a href="#">Privacy Policy</a></div>
                        <nav class="SiteFooter-social">
                            <ul class="SiteFooter-social_list">
                                <li>
                                    <a href="#"><span>Bookface</span></a>
                                </li>
                                <li>
                                    <a href="#"><span>Twitcher</span></a>
                                </li>
                                <li>
                                    <a href="#"><span>Bumblr</span></a>
                                </li>
                                <li>
                                    <a href="#"><span>Redchanit</span></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </footer>
            </div>
            
            <pre data-specimen-source="Footer-specimen" class="Example-specimen_source is-Example-specimen_source--hidden"></pre>
        </div>
    </section>
</main>
