/**
*   Custom CSS for ThreePostsGrid.
**/
.ThreePostsGrid-post {
    text-decoration: none;
}
.ThreePostsGrid-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    border: solid 1px #cacaca ;
    border-radius: 7px;
    padding: 20px;
}
.ThreePostsGrid-excerpt{
    overflow:hidden;
    line-height: 2rem;
    max-height: 8rem;
    -webkit-box-orient: vertical;
    display: block;
    display: -webkit-box;
    overflow: hidden !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
}
.row.ThreePostsGrid-equalHeight{
    display:flex !important;
    flex-wrap: wrap;
}

/**
*   Custom CSS for ThreePostsGrid Share/Date Container.
**/
.ThreePostsGrid-share-date-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  width: 100%;
}
.ThreePostsGrid-share-container i {
  opacity: 0;
  font-size: 22px;
  will-change: transform;
  -webkit-transform: scale(.1);
          transform: scale(.1);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  color: #FC6D1B;
    &:hover {
      color: #000;
    }
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ThreePostsGrid-share-icon {
    &.linkedin{
      font-size: 26px;
    }
    &.twitter{
      font-size: 24px;
    }
    &.email {
      :before {
        font-size: 26px !important;
        width: 100% !important;
        height: 100% !important;
      }
    }

}
.ThreePostsGrid-share_label {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
    i {
      margin-left: 20px;
    }
}

.ThreePostsGrid-share-btn_wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: flex-end;
      -ms-flex-pack: flex-end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  cursor: pointer;
  width: 240px;
  height: 72px;
  background-color: #ffffff;
  padding: 0;
  will-change: transform;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.ThreePostsGrid-share-btn_wrap:hover {
  /* transition-delay: .4s; */
  -webkit-transform: scale(1.1);
          transform: scale(1.1)
}

.ThreePostsGrid-share-btn_wrap span {
  position: absolute;
  z-index: 99;
  width: 200px;
  height: 70px;
  font-size: 20px;
  text-align: center;
  line-height: 70px;
  letter-spacing: 2px;
  color: #000;
  background-color:#ffffff;
  padding: 0 18px;
  -webkit-transition: all 1.2s ease;
  transition: all 1.2s ease;
}

.ThreePostsGrid-share-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 40px;
  border: 1px solid #cacaca;
  overflow: hidden;
}
.ThreePostsGrid-share-container a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100%;
}
.ThreePostsGrid-share-container a:nth-of-type(1) {
          -webkit-transition-delay: 1.1s;
                  transition-delay: 1.1s;
}

.ThreePostsGrid-share-container a:nth-of-type(2) {
          -webkit-transition-delay: .9s;
                  transition-delay: .9s;
}

.ThreePostsGrid-share-container a:nth-of-type(3) {
          -webkit-transition-delay: .7s;
                  transition-delay: .7s;
}

.ThreePostsGrid-share-container a:nth-of-type(4) {
          -webkit-transition-delay: .4s;
                  transition-delay: .4s;
}

.ThreePostsGrid-share-btn_wrap:hover span {
  -webkit-transition-delay: .25s;
          transition-delay: .25s;
  -webkit-transform: translateX(-280px);
          transform: translateX(-280px)
}

.ThreePostsGrid-share-btn_wrap:hover i {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}


/**
*   Custom CSS for ThreePostsGrid Pagination Navigation.
**/
.ThreePostsGrid-pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    #ThreePostsGrid-prev {
        i {
            margin-top: 1px;
            font-size: 20px;
        }
    }
    #ThreePostsGrid-next{
        i {
            margin-top: 1px;
            font-size: 20px;
        
        }
    }
    li.ThreePostsGrid-page-item {
        text-align: center;
        text-decoration: none;
    }
}
.ThreePostsGrid-pagination.pagination>.ThreePostsGrid-page-item>a {
    border: none;
    padding: 1px 10px;
    color: #000;
    font-weight:500;
}
.ThreePostsGrid-pagination.pagination>.ThreePostsGrid-current-page.active>a {
    background-color: #FC6D1B ;
    border-radius: 3px;
    color: #fff;
}
@media only screen and (min-width: 768px){
    h4.ThreePostsGrid-title {
        font-size: 22px;
    }
}