.fl-module-bw-navigation-popover .mega-menu-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-box-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -ms-flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0;
  padding-left: 0;
  list-style: none;
}
.fl-module-bw-navigation-popover .mega-menu-container ul {
  list-style: none;
  padding-left: 0;
}
.fl-module-bw-navigation-popover .mega-menu-container > li {
  display: inline-block;
  -webkit-transition: background-color 150ms;
  transition: background-color 150ms;
}
.fl-module-bw-navigation-popover .mega-menu-container > li a {
  text-decoration: none;
}
.fl-module-bw-navigation-popover .mega-menu-container > li .mega-menu-contents {
  display: none;
}
.fl-module-bw-navigation-popover .mega-menu-container > li .top-level-item-icon {
  margin-left: 5px;
}
.fl-module-bw-navigation-popover .mega-menu-container > li:hover .top-level-item-icon.top-level-item-has-hover-icon .icon-primary {
  display: none;
}
.fl-module-bw-navigation-popover .mega-menu-container > li:not(:hover) .top-level-item-icon.top-level-item-has-hover-icon .icon-hover {
  display: none;
}
.fl-module-bw-navigation-popover .popover {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0px solid transparent;
  -webkit-transition: border-radius 250ms, border 250ms;
  transition: border-radius 250ms, border 250ms;
}
.fl-module-bw-navigation-popover .popover .popover-content {
  padding: 20px 0 5px;
  background-color: white;
  -webkit-box-shadow: 0 5px 5px 0 rgba(151, 151, 151, 0.25);
          box-shadow: 0 5px 5px 0 rgba(151, 151, 151, 0.25);
  -webkit-transition: border-radius 250ms, border 250ms;
  transition: border-radius 250ms, border 250ms;
}
.fl-module-bw-navigation-popover .popover .popover-content .submenu-icon .icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 15px;
  background-repeat: no-repeat;
  background-size: contain;
}
.fl-module-bw-navigation-popover .popover .popover-content .section-title {
  text-align: center;
}
.fl-module-bw-navigation-popover .popover .popover-content .sub-menu > li {
  padding: 10px 40px;
  -webkit-transition: background-color 150ms;
  transition: background-color 150ms;
  background-color: transparent;
}
.fl-module-bw-navigation-popover .popover .popover-content .sub-menu > li a {
  font-size: 12px;
  line-height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-box-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -ms-flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.fl-module-bw-navigation-popover .popover .popover-content .sub-menu > li span,
.fl-module-bw-navigation-popover .popover .popover-content .sub-menu > li ul {
  margin-top: 0;
  margin-bottom: 0;
  width: calc( 100% - 35px );
}
.fl-module-bw-navigation-popover .popover .popover-content .sub-menu > li.contains-description a > * {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.fl-module-bw-navigation-popover .popover.bottom {
  margin-top: 0;
}
.fl-module-bw-navigation-popover .popover.bottom.has-tooltip {
  margin-top: 20px;
}
.fl-module-bw-navigation-popover .popover.bottom .triangle-container {
  position: absolute;
  z-index: 1px;
  top: -20px;
  right: 0;
  left: 0;
  overflow: hidden;
  width: 40px;
  height: 20px;
  margin: auto;
  -webkit-transform: scaleX(1.5);
          transform: scaleX(1.5);
}
.fl-module-bw-navigation-popover .popover.bottom .triangle-container .triangle {
  position: relative;
  overflow: hidden;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  cursor: pointer;
  -webkit-transform: translateY(50%) rotate(30deg) skewY(30deg) scaleX(0.866);
          transform: translateY(50%) rotate(30deg) skewY(30deg) scaleX(0.866);
  pointer-events: none;
  border: 0px solid transparent;
  border-radius: 20%;
  -webkit-box-shadow: 0 5px 5px 0 rgba(151, 151, 151, 0.25);
          box-shadow: 0 5px 5px 0 rgba(151, 151, 151, 0.25);
}
.fl-module-bw-navigation-popover .popover.bottom .triangle-container .triangle::before,
.fl-module-bw-navigation-popover .popover.bottom .triangle-container .triangle::after {
  position: absolute;
  width: 30px;
  height: 30px;
  content: '';
  pointer-events: auto;
  background: white;
}
.fl-module-bw-navigation-popover .popover.bottom .triangle-container .triangle::before {
  -webkit-transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) skewX(30deg) scaleY(0.866) translateX(-24%);
          transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) skewX(30deg) scaleY(0.866) translateX(-24%);
  border-radius: 20% 20% 20% 53%;
}
.fl-module-bw-navigation-popover .popover.bottom .triangle-container .triangle::after {
  -webkit-transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) skewX(-30deg) scaleY(0.866) translateX(24%);
          transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) skewX(-30deg) scaleY(0.866) translateX(24%);
  border-radius: 20% 20% 53% 20%;
}

/*# sourceMappingURL=frontend.css.map */
