.Article-related_posts {

}

.Article-related_post {
    .make-Column(4; min; @Viewport-sm);

    text-align: center;
}

.Article-related_post_image {
    width: 100%;
    height: auto;

    margin-bottom: 30px;
}
