.Article-related_posts {
    &--2up {
        .make-Matrix(2; @Border-width: 0px);
    }

    &--3up {
        .make-Matrix(3; @Border-width: 0px);
    }

    &--4up {
        .make-Matrix(4; @Border-width: 0px);
    }
}

.Article-related_post {
    text-align: center;
}

.Article-related_post_image {
    width: 100%;
    height: auto;

    margin-bottom: 30px;
}
