@Comments-comment--bg_color: @bw-comments-bg-color;
@Comments-comment--color: @bw-comments-color;
@Comments-comment--padding: @bw-comments-padding;
@Comments-comment--border_radius: @bw-comments-border-radius;
@Comments-comment_link--color: @bw-comments-link-color;

@Comments-form_comment--hilight_color: @bw-comments-form-hilight-color;

.Comments-comment {
    .clearfix;
    
    background-color: @Comments-comment--bg_color;
    color: @Comments-comment--color;
    
    padding: @Comments-comment--padding;
    border-radius: @Comments-comment--border_radius;
    max-width: 80%;
    
    a {
        color: @Comments-comment_link--color;
    }
}

.Comments-image {
    float: left;
}

.Comments-comment_content {
    float: left;
    width: ~"calc(100% - 65px)";
}

.Comments-author {
    margin-bottom: 10px;
}

.fl-module .Comments-list, .fl-rich-text .Comments-list {
    .Comments-list();
}

.Comments-list .children, .fl-module .Comments-list .children, .fl-rich-text .Comments-list .children {
    .Comments-list();
    
    padding-left: 10%;
    
    .Comments-comment {
        max-width: 90%;
    }
}

.Comments-form_comment textarea,
.Comments-form_author input,
.Comments-form_email input,
.Comments-form_url input {
    border-color: @Comments-form_comment--hilight_color;
}