.GridTeam {
	max-width: 1250px;
	margin: auto;
	text-align: center;
	@media only screen and (max-width: 992px) {
		margin: 24px;
	}
	&-team {
		margin: 0 61px 46px 82px;
		font-size: 40px;
		font-weight: 600;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.6;
		letter-spacing: 2px;
		text-align: left;
		color: #120c17;

		@media only screen and (max-width: 992px) {
			font-size: 24px !important;
			margin: 0;
		}
	}

	&-row {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin-top: 40px;
	}

	&-team_member {
		.GridTeam-member_wrapper {
			padding: 0 56px;
			@media screen and (max-width: 1024px){
				padding: 0 103px;
			}
			@media screen and (max-width: 993px){
					padding: 0 141px;
			}
		}
		@media screen and (max-width: 992px){
			padding: 10px !important;
		}
	}

	&-image_container img {
		border-radius: 10px;
		margin: 0 0 20px;
		max-width: 300px;
		max-height: 300px;
		@media screen and (max-width: 992px) {
		width: 149.8px;
  height: 157px;
  border-radius: 4px;
	}}

	&-name {
		position: relative;
		transition: all 0.5s ease-out;
		margin: 0 13px 8px 0;
		font-size: 24px;
		font-weight: 600;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: 1.2px;
		text-align: left;
		color: #120c17;

		&:before {
			content: "";
			position: absolute;
			z-index: 0;
			left: 0;
			right: 100%;
			bottom: -6px;
			height: 2px;
			-webkit-transition-property: right;
			transition-property: right;
			-webkit-transition-duration: 0.3s;
			transition-duration: 0.3s;
			-webkit-transition-timing-function: ease-out;
			transition-timing-function: ease-out;
		}

		@media screen and (max-width: 992px) {
			font-size: 16px !important;
		}
	}

	&-panel_link {
		text-decoration: none;
		transition: all 0.5s ease-out;
		outline: none !important;
		&:hover{
			.GridTeam-name{
				text-decoration: underline;
			}
		}
	}

	&-panel_link:hover {
		text-decoration: none;
	}

	&:hover {
		&-text_container &-name {
			&:before {
				right: 100%;
			}
		}
	}

	&-text_container {
		margin-bottom: 60px;

		@media screen and (max-width: 992px) {
			margin: 0% !important;
		}
	}

	&-position {
		position: relative;
		transition: all 0.5s ease-out;
		flex-grow: 0;
		margin: 8px 0 0;
		font-size: 16px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.88;
		letter-spacing: 0.64px;
		text-align: left;
		color: #333;

		@media screen and (max-width: 992px) {
			font-size: 12px !important;
		}
	}

	&-modal {
		display: none;
		background-color: rgba(0, 0, 0, 0.5);
		position: fixed;
		background-color: rgba(0, 0, 0, 0.5);
		top: 0;
		right: 0;
		outline: 0;
		left: 0;
		bottom: 0;
		z-index: 9999999;
	}

	&-modal-header {
		border-bottom: none !important;
		position: absolute;
		bottom: 50px;
		right: 50px;
		padding: 15px;
		display: none;
		@media screen and (max-width: 992px) {
			padding: 0%;
			bottom: 46px;
			right: 46px;
		}
	}

	&-close {
		display: flex;
		border: none;
		background-color: transparent;
		justify-content: space-around;
		align-items: center;
		height: 25px;
		font-size: 30px;
		line-height: 0;
		opacity: 1;
		margin-bottom: 16px;
		margin-top: 82px;
		margin-right: 15px;
		float: right;
		&:hover, &:active {
			background-color: transparent;
			border: none;
		}
		@media only screen and (max-width: 992px){
			margin-top: 22px;
			margin-bottom: 6px;
		}
	}

	&-closeSymbol {
		font-weight: 100;
		display: flex;
		align-items: center;
	}

	&-back {
		margin-left: 5px;
		font-family: "Hauora";
		font-size: 14px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: 1.71;
		letter-spacing: 0.56px;
	}

	&-modal-body {
		padding: 0px;
		max-height: 90vh;
		overflow: auto;

		@media only screen and (max-width: 992px) {
			overflow: unset;
		}

		p {
			font-size: 16px;
		}

		li {
			font-size: 16px;
		}
	}

	&-txtCol {
		text-align: left;
		max-height: 450px;
		overflow-x: hidden;

		@media screen and (max-width: 992px) {
			width: 100% !important;
			overflow: unset;
			max-height: unset;
			padding-bottom: 32px;
		}
	}

	&-rowe {
		display: flex;
		justify-content: space-between;
		flex-wrap: row;
	}

	&-modal-title {
		margin: 14px 19px 8px 0;
		font-size: 20px;
		font-weight: 600;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: 1px;
		text-align: left;
		color: #120c17;
	}
	&-modal-title:first-child {
		margin-top: 0;
	}
	&-modal-title:nth-of-type(2) {
		margin-bottom: -6px;
		@media screen and (max-width: 992px) {
			margin-bottom: -1px;
		}
	}
	&-modal_text{
		margin-right: 15px;
		p {
			margin: 8px 0 0;
			font-size: 14px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.71;
			letter-spacing: 0.56px;
			text-align: left;
			color: #333;
		}
	}

	&-modal-content {
		background: white;
		border-radius: 12px;
		position: relative;
		margin-left: 0;
		margin-right: 0;
		height: 554px;
		max-width: 659px;
		left: 50%;
		transform: translateX(-50%);
		padding: 62px 43px 59px 46px;
		width: 1040px;

		@media only screen and (max-width: 992px) {
			width: 345px;
			height: 610px;
			overflow: scroll;
			padding: 35px 20px 3px;
		}
	}

	&-modal-dialog {
		width: 100% !important;
		max-width: 1200px !important;

	}

	&-modal-dialog-centered {
		margin-top: 0 !important;
		margin-bottom: 0 !important;
		height: 100vh;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	&-modal-dialog-centered {
		transform: scale(0) !important;
	}
	&-cta{
		font-size: 30px;
		@media screen and (max-width: 992px) {
			font-size: 20px;
		}
	}
	&-fade {
		transition: opacity .15s linear;
	}

	&-modal-dialog-centered {
		transform: scale(1) !important;
		margin: auto;
	} 

	&-fade.in {
		opacity: 1;
	}

	&-modal .modal-open {
		overflow: hidden;
		overflow-y: hidden !important;
	}

	.modal-footer {
		border-top: none !important;
	}

	.dashicons {
		line-height: 0;
	}
}

.modal-backdrop {
	display: none;
}

.fl-row-fixed-width {
	max-width: 1440px;
}