

/*========= 50/50 Wrap ==========*/
.FiftyFiftySplit-wrap {
     display: flex;
     align-items: center;
     box-sizing: border-box;
     overflow: hidden;

}
.FiftyFiftySplit-wrap.toggle{
     display: flex;
}

/*========= Image Side ==========*/
.FiftyFiftySplit-image-side {
     width: 50%;
}
.FiftyFiftySplit-background-img {
     width:100%;
     height: auto;
     margin: 0;
     position: relative;
     background-size: 100% auto;
     background-repeat: no-repeat;

}
.FiftyFiftySplit-primary-img {
     width: 100%;
     height: auto;
     margin: 0;
     /*----Lens Image---*/
    -webkit-mask-repeat: no-repeat;
     mask-repeat: no-repeat;
    -webkit-mask-position: center center;
     mask-position: center center;
    -webkit-mask-size: 70%;
     mask-size: 61%;
}
.FiftyFiftySplit-lens {
     position: absolute;
     background-position: center center;
     background-repeat: no-repeat;
     background-size: 70.5%;
     width: 100%;
     height: 100%;
     z-index: 1000;
}
.FiftyFiftySplit-image-side.left .FiftyFiftySplit-lens.animation.is-visible {
     animation: lens-slide-left 1s 1 alternate;
     @keyframes lens-slide-left{
          from {
               background-position: -100% -100%;
          }
          to {
               background-position: center center;
          }
     }
}
.FiftyFiftySplit-image-side.left .FiftyFiftySplit-primary-img.animation.is-visible{
     animation: mask-slide-left 1s 1 alternate;
     @keyframes mask-slide-left{
          from {
               -webkit-mask-position: -100% -100%;
                    mask-position: -100% -100%; 
          }
          to {
               -webkit-mask-position: center center;
                    mask-position: center center;
          }
     }
}
.FiftyFiftySplit-image-side.right .FiftyFiftySplit-lens.animation.is-visible{
     animation: lens-slide-right 1s 1 normal;
     @keyframes lens-slide-right{
          from {
                    background-position: 200% -100%; 
          }
          to {

                    background-position: center center;
          }
     }
}
.FiftyFiftySplit-image-side.right .FiftyFiftySplit-primary-img.animation.is-visible{
     animation: mask-slide-right 1s 1 normal;
     @keyframes mask-slide-right{
          from {
               -webkit-mask-position: 200% -100%;
                    mask-position: 200% -100%; 
          }
          to {
               -webkit-mask-position: center center;
                    mask-position: center center;
          }
     }
}
/*========= Content Side ==========*/
.FiftyFiftySplit-content-side{
     width: 50%;
}
.FiftyFiftySplit-content-wrap{
     width: 70%;
}
.FiftyFiftySplit-content-side.left .FiftyFiftySplit-content-wrap {
     padding-right: 40px;
     margin-left: auto;
}
.FiftyFiftySplit-content-side.right .FiftyFiftySplit-content-wrap {
     padding-left: 40px;
     margin-right: auto;
}
.FiftyFiftySplit-content-wrap h2 {
     font-family: "Hauora", Verdana, Arial, sans-serif;
}
.FiftyFiftySplit-content-wrap p {
     font-family: "Hauora", Verdana, Arial, sans-serif;
     padding-bottom: 15px;
}
.FiftyFiftySplit-buttonwrap {
     display: flex;
}
.FiftyFiftySplit-button p {
     font-family: "Hauora", Verdana, Arial, sans-serif;
     padding: 0;
     
}
.FiftyFiftySplit-button {
     padding-bottom:8px;
     border-bottom: 1px solid;
     border-radius: 2px;
}
.FiftyFiftySplit-button:hover {
     transition: .4s;
}

.FiftyFiftySplit-content-wrap.animation.is-visible {
     animation: content-slide 1s 1 normal;
     @keyframes content-slide{
          0% {
               transform: translateY(200px);
          }
          100%{
               transform: translateY(0);
          }
     }
}

/*========= Accordion ==========*/

a.FiftyFiftySplit-accordion {

     display: none;
     margin: auto;
     width: 80%;
     color: #000;
     cursor: pointer;
     padding: 18px;
     text-align: left;
     border-top: solid 1px #000;
     border-left: none;
     border-right: none;
     border-bottom: none;
     border-radius: 0;
     outline: none;
     transition: 0.4s;
     background-color: transparent;
}
a.FiftyFiftySplit-accordion p {
     font-family: "Hauora", Verdana, Arial, sans-serif;
     font-size: calc(20px + .01vw);
}
.active, a.FiftyFiftySplit-accordion:hover {
     background-color: transparent;
     color: #000;
}

/*========= Responsive / Media Querys ==========*/

@media only screen and (max-width: 960px) {
     a.FiftyFiftySplit-accordion {
          display: flex;
          justify-content: space-between;
     }
     .FiftyFiftySplit-wrap {
     display: none;
     margin: auto;
     flex-wrap: wrap;
     width: 80%;
     }
     .FiftyFiftySplit-wrap.FiftyFiftySplit-reverse{
          flex-direction: column-reverse;
     }
     .FiftyFiftySplit-wrap.toggle{
     display: flex;
     }
     .FiftyFiftySplit-content-side{
     width: 100%;
     padding: 20px;
     }
     .FiftyFiftySplit-content-wrap{
     width: 100%;
     }
     .FiftyFiftySplit-image-side {
          width: 100%;
          padding: 20px;
     } 
     
     .FiftyFiftySplit-content-wrap.animation.is-visible {
          animation: content-slide 1s 1 normal;
          @keyframes content-slide{
               0% {
                    transform: translateX(400px);
               }
               100%{
                    transform: translateX(0);
               }
          }
     
     }
}