

/*========= 50/50 Wrap ==========*/
.FiftyFiftySplit-wrap {
     display: flex;
     align-items: center;
     box-sizing: border-box;
     overflow: hidden;
     padding: 40px 0;

}
.FiftyFiftySplit-wrap.not-home-page.toggle{
     display: flex;
}

/*========= Image ==========*/
.FiftyFiftySplit-image-side {
     width: 50%;
}
.FiftyFiftySplit-background-img {
     width:100%;
     height: auto;
     margin: 0;
     position: relative;
     background-size: 100% 100%;
     background-repeat: no-repeat;

}
.FiftyFiftySplit-primary-img {
     width: 100%;
     height: auto;
     margin: 0;
     /*----Lens Image---*/
    -webkit-mask-repeat: no-repeat;
     mask-repeat: no-repeat;
    -webkit-mask-position: center center;
     mask-position: center center;
    -webkit-mask-size: 70%;
     mask-size: 70%;
}
.FiftyFiftySplit-lens {
     position: absolute;
     background-position: center center;
     background-repeat: no-repeat;
     background-size: 70.5%;
     width: 100%;
     height: 100%;
     z-index: 1000;
}
.FiftyFiftySplit-image-side.left .FiftyFiftySplit-lens.FiftyFiftySplit-animation.is-visible {
     animation: lens-slide-left 4s 1 alternate;
     @keyframes lens-slide-left{
          from {
               background-position-x: -200%;
          }
          to {
               background-position: center;
          }
     }
}
.FiftyFiftySplit-image-side.left .FiftyFiftySplit-primary-img.FiftyFiftySplit-animation.is-visible{
     animation: mask-slide-left 4s 1 alternate;
     @keyframes mask-slide-left{
          from {
               -webkit-mask-position-x: -200%;
                    mask-position-x: -200%; 
          }
          to {
               -webkit-mask-position: center center;
                    mask-position: center center;
          }
     }
}
.FiftyFiftySplit-image-side.right .FiftyFiftySplit-lens.FiftyFiftySplit-animation.is-visible{
     animation: lens-slide-right 4s 1 normal;
     @keyframes lens-slide-right{
          from {
                    background-position-x: 200%; 
          }
          to {

                    background-position-x: center;
          }
     }
}
.FiftyFiftySplit-image-side.right .FiftyFiftySplit-primary-img.FiftyFiftySplit-animation.is-visible{
     animation: mask-slide-right 4s 1 normal;
     @keyframes mask-slide-right{
          from {
               -webkit-mask-position-x: 200%;
                    mask-position-x: 200%; 
          }
          to {
               -webkit-mask-position-x: center;
                    mask-position-x: center;
          }
     }
}
/*========= Content ==========*/
.FiftyFiftySplit-content-side{
     width: 50%;
     align-self: stretch;
     display: flex;
     justify-content: center;
     align-items: center;
}
.FiftyFiftySplit-content-wrap{
     width: 85%;
}
.FiftyFiftySplit-content-side .FiftyFiftySplit-content-wrap {
     padding-left: 8vw;
     margin: auto;
}
.FiftyFiftySplit-content-wrap h2 {
     font-family: "Hauora", Verdana, Arial, sans-serif;
     font-weight: 500;
     font-size: ~"calc(20px + 1.3vw)";

}
.FiftyFiftySplit-content-wrap p {
     font-family: "Hauora", Verdana, Arial, sans-serif;
     font-weight: 400;
     font-size: ~"calc(14px + .4vw)";
     padding-bottom: 35px;
     width: 100%;
}
.FiftyFiftySplit-content-side.FiftyFiftySplit-animation.is-visible {
     animation: content-slide 2s 1 normal;
     @keyframes content-slide{
          0% {
               transform: translateY( 400px);
          }
          100%{
               transform: translateY(0);
          }
     }
}

/*========= Button ==========*/

.FiftyFiftySplit-buttonwrap {
     display: flex;
     text-decoration: none;
}
a.FiftyFiftySplit-button {
     color: #fc6815;
     padding-bottom: 10px;
     display: inline-block;
     line-height: 18px;
     text-decoration: none;
     text-shadow: none;
     position: relative !important;
     cursor: pointer;
     transition: none !important;
     box-sizing: border-box;
}
a.FiftyFiftySplit-button::before {
     content: '';
     transform-origin: 100% 50%;
     transform: scale3d(0,1,1);
     transition: transform 0.3s;
     position: absolute;
     width: 100%;
     height: 2px;
     background: #fc6815;
     top: 100%;
     left: 0;
     pointer-events: none;
 
}
a.FiftyFiftySplit-button:hover::before {
     text-decoration: none;
     transform-origin: 0% 50%;
     transform: scale3d(1,1,1);
}
a.FiftyFiftySplit-button:focus {
     text-decoration: none;
}
a.FiftyFiftySplit-button p{
     font-family: "Hauora", Verdana, Arial, sans-serif;
     font-weight: 500;
     font-size: ~"calc(15px + .5vw)";
     padding: 0;
     width: 100%;
     
}

/*========= Accordion ==========*/

a.FiftyFiftySplit-accordion {
     display: none;
     margin: 0 10vw;
     font-weight: 600;
     color: #000;
     cursor: pointer;
     padding: 18px;
     text-align: left;
     text-decoration: none;
     border-top: solid 1px #cacaca;
     border-left: none;
     border-right: none;
     border-bottom: none;
     border-radius: 0;
     outline: none;
     transition: 0.4s;
     background-color: transparent;
}
a.FiftyFiftySplit-accordion p {
     font-family: "Hauora", Verdana, Arial, sans-serif;
     overflow: hidden;
     font-size: ~"calc(16px + 2vw);";
     font-weight: 600;
}
.active, a.FiftyFiftySplit-accordion:hover {
     background-color: transparent;
     color: #000;
}

/*========= Responsive / Media Querys ==========*/

@media only screen and (max-width: 1020px) {

     a.FiftyFiftySplit-accordion {
          display: flex;
          justify-content: space-between;
     }
     .FiftyFiftySplit-wrap{
          padding: 0;
          flex-direction: column-reverse;
     }
     .FiftyFiftySplit-wrap.home-page{
          flex-direction: column-reverse;
     }
     .FiftyFiftySplit-wrap.home-page.FiftyFiftySplit-reverse{
          flex-direction: column;
     }
     .FiftyFiftySplit-wrap.FiftyFiftySplit-reverse{
          flex-direction: column;
     }
     .FiftyFiftySplit-wrap.not-home-page {
          display: none;
          margin: auto;
          flex-wrap: wrap;

     }
     .FiftyFiftySplit-wrap.not-home-page.FiftyFiftySplit-reverse.toggle{
          flex-direction: column-reverse;
     }
     .FiftyFiftySplit-wrap.not-home-page.toggle{
          display: flex;
          flex-direction: column;
     }

     .FiftyFiftySplit-content-side{
          width: 100%;
          padding: 25px;
     }
     .FiftyFiftySplit-content-wrap{
          width: 100%;
          padding: 0;
     }
     .FiftyFiftySplit-content-wrap  {
          padding-bottom: 15px;
     }
     .FiftyFiftySplit-content-wrap p {
          padding-bottom: 15px;
          width: 100%;
     }
     .FiftyFiftySplit-content-side .FiftyFiftySplit-content-wrap {
          padding: 0 4vw;
     }
     .FiftyFiftySplit-image-side {
          width: 100%;
     } 
     .FiftyFiftySplit-content-side.FiftyFiftySplit-animation.is-visible {
          animation: content-slide 2s 1 normal;
          @keyframes content-slide{
               0% {
                    transform: translateX(100px);
               }
               100%{
                    transform: translateX(0);
               }
          }
     
     }
     .FiftyFiftySplit-content-side.FiftyFiftySplit-animation.left.is-visible {
          animation: content-slide-left 2s 1 normal;
          @keyframes content-slide-left{
               0% {
                    transform: translateX(100px);
               }
               100%{
                    transform: translateX(0);
               }
          }
     
     }
}