@@include('./assets/frag/html.frag.html')

<title>Triptych component - Phylactery 1.0.0 by HUEMOR</title>

<main class="Example-content">
    @@include('./components/SiteHeader/phylactery_siteheader.frag.html')
    <header class="HeroHeader HeroHeader--thin HeroHeader--dark_bg" style="background-image: url(../../components/HeroHeader/test_background.svg);">
        <div class="HeroHeader-valign">
            <div class="HeroHeader-container">
                <h1 class="HeroHeader-title">Triptych component</h1>
                <p>Multi-column selling point layout for your brochureware site</p>
            </div>
        </div>
    </header>

    <section class="Container Example-section">
        <h2>Three-up Triptych</h2>
        <p>A triptych is a common design element consisting of three or four key selling points (or more in a 3up/4up grid) used to highlight important information up front.</p>
        
        <div class="Example-specimen">
            <button class="Example-specimen_toggle" type="button" data-specimen-toggle="Triptych-specimen">View Source</button>
            <div class="Example-large_specimen_content is-Example-specimen--visible" id="Triptych-specimen" data-specimen>
                <div class="Triptych Triptych--3up">
                    <div class="Triptych-wrapper Triptych--3up-wrapper">
                        <div class="Triptych-item">
                            <img src="http://placehold.it/300x300" alt="Placeholder" class="Triptych-image">
                            <h2 class="Triptych-title">Lorem ipsum dolor sit amet</h2>
                            <p>Phasellus vestibulum neque risus, aliquam ullamcorper metus varius a.</p>
                        </div>
                        <div class="Triptych-item">
                            <img src="http://placehold.it/300x300" alt="Placeholder" class="Triptych-image">
                            <h2 class="Triptych-title">Praesent et lorem</h2>
                            <p>Nulla luctus ex at lacus tincidunt elementum. Nulla facilisi.</p>
                        </div>
                        <div class="Triptych-item">
                            <img src="http://placehold.it/300x300" alt="Placeholder" class="Triptych-image">
                            <h2 class="Triptych-title">Quisque aliquam</h2>
                            <p>Etiam sit amet metus nec lectus finibus fermentum. Donec nec vehicula leo. Donec euismod aliquam magna, nec hendrerit metus congue ut. Vivamus dignissim bibendum dui sed convallis. Donec pharetra enim eget lectus sodales, eget scelerisque ante aliquet.</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <pre data-specimen-source="Triptych-specimen" class="Example-specimen_source is-Example-specimen_source--hidden"></pre>
        </div>
    </section>

    <section class="Container Example-section">
        <h2>Alternate column counts</h2>
        <p>You may insert additional or fewer columns. The number of columns per row is determined by the specifier; 3up and 4up are supported.</p>
        
        <div class="Example-specimen">
            <button class="Example-specimen_toggle" type="button" data-specimen-toggle="Triptych-specimen--2">View Source</button>
            <div class="Example-large_specimen_content is-Example-specimen--visible" id="Triptych-specimen--2" data-specimen>
                <div class="Triptych Triptych--4up">
                    <div class="Triptych-wrapper Triptych--4up-wrapper">
                        <div class="Triptych-item">
                            <img src="http://placehold.it/300x300" alt="Placeholder" class="Triptych-image">
                            <h2 class="Triptych-title">Etiam ornare euismod</h2>
                            <p>Nam fringilla arcu ac nisl sollicitudin malesuada. Mauris non convallis arcu. Donec aliquam lorem vel neque sodales, et sodales mi ultricies.</p>
                        </div>
                        <div class="Triptych-item">
                            <img src="http://placehold.it/300x300" alt="Placeholder" class="Triptych-image">
                            <h2 class="Triptych-title">Lorem ipsum dolor sit amet</h2>
                            <p>Phasellus vestibulum neque risus, aliquam ullamcorper metus varius a.</p>
                        </div>
                        <div class="Triptych-item">
                            <img src="http://placehold.it/300x300" alt="Placeholder" class="Triptych-image">
                            <h2 class="Triptych-title">Praesent et lorem</h2>
                            <p>Nulla luctus ex at lacus tincidunt elementum. Nulla facilisi.</p>
                        </div>
                        <div class="Triptych-item">
                            <img src="http://placehold.it/300x300" alt="Placeholder" class="Triptych-image">
                            <h2 class="Triptych-title">Quisque aliquam</h2>
                            <p>Etiam sit amet metus nec lectus finibus fermentum. Donec nec vehicula leo. Donec euismod aliquam magna, nec hendrerit metus congue ut. Vivamus dignissim bibendum dui sed convallis. Donec pharetra enim eget lectus sodales, eget scelerisque ante aliquet.</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <pre data-specimen-source="Triptych-specimen--2" class="Example-specimen_source is-Example-specimen_source--hidden"></pre>
        </div>
    </section>
</main>
