@SiteHeader--breakpoint: @bw-header-breakpoint;

@SiteHeader--height: @bw-header-height;

@SiteHeader--height_bp: @bw-header-height-bp;
@SiteHeader--content_row_height_bp: @bw-header-height-bp;

@SiteHeader-brand--padding_vertical: ((@bw-header-height - @bw-header-logo-height) / 2);
@SiteHeader-brand--padding_vertical_bp: ((@bw-header-height-bp - @bw-header-logo-height-bp) / 2);

@SiteHeader--background: fade(@header-bg-color, @header-bg-opacity);
@SiteHeader--background_transparent: fade(@header-bg-color, @header-bg-opacity);
@SiteHeader--color: @header-fg-color;

@SiteHeader--border_color: @bw-header-border-color;
@SiteHeader--border_width: @bw-header-border-width;

@SiteHeader-notice_bar--height_bp: @bw-topbar-height-bp;

@SiteHeader-notice_bar--bg_color: fade(@topbar-bg-color, @topbar-bg-opacity);
@SiteHeader-notice_bar--color: @topbar-fg-color;

@NavMenu--main_menu-link--color: @header-fg-link-color;
@NavMenu--main_menu-link--hover_background_color: @header-fg-hover-color;

.bw-apply-gradient(@bg-color, @gradient) {
    //nothing!
}

.bw-apply-gradient(@bg-color, @gradient) when (@gradient > 0) {
    .fl-gradient(@bg-color, @gradient);
}

.SiteHeader {
    .fl-background-image(@header-bg-image, @header-bg-repeat, @header-bg-position, @header-bg-attachment, @header-bg-size);
    .bw-apply-gradient(@SiteHeader--background, @header-bg-grad);
}

.SiteHeader-notice_bar {
    background-image: @topbar-bg-image;
    .bw-apply-gradient(@SiteHeader-notice_bar--bg_color, @topbar-bg-grad);
}

@media (max-width: @SiteHeader--breakpoint_max) {
    .SiteHeader-banner {
        .bw-apply-gradient(@SiteHeader--background, @header-bg-grad);
    }
}
