@SiteHeader--background: fade(@header-bg-color, @header-bg-opacity);
@SiteHeader--background_transparent: fade(@header-bg-color, @header-bg-opacity);
@SiteHeader--color: @header-fg-color;

@SiteHeader-notice_bar--color: @header-fg-color;

@NavMenu--main_menu-link--color: @header-fg-link-color;
@NavMenu--main_menu-link--hover_background_color: @header-fg-hover-color;
