@@include('./assets/frag/html.frag.html')

<script type='text/javascript' src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCNhUvQqbXGm0RPyc_jNF1EkybQUWpAjFI&#038;ver=3'></script>

<title>ContactPage layout - Phylactery 1.0.0 by HUEMOR</title>

@@include('./components/SiteHeader/phylactery_siteheader.frag.html')
<header class="HeroHeader HeroHeader--thin HeroHeader--dark_bg" style="background-image: url(../../components/HeroHeader/test_background.svg);">
    <div class="HeroHeader-valign">
        <div class="HeroHeader-container">
            <h1 class="HeroHeader-title">ContactPage layout</h1>
            <p>Lorem ipsum dolor sit amet</p>
        </div>
    </div>
</header>

<main class="ContactPage">
    <div class="ContactPage-content_row">
        <section class="ContactPage-content">
            <p>If you have any questions, please don't hesitate to send us a
            message. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <form class="ContactPage-form">
                <div class="FormItem FormItem--stacked ContactPage-form_item">
                    <label for="ContactPage-name">Name</label>
                    <input id="ContactPage-name">
                </div>
                <div class="FormItem FormItem--stacked ContactPage-form_item">
                    <label for="ContactPage-phone">Phone number</label>
                    <input id="ContactPage-phone" type="phone">
                </div>
                <div class="FormItem FormItem--stacked ContactPage-form_item">
                    <label for="ContactPage-email">Email Address</label>
                    <input id="ContactPage-email" type="email">
                </div>
                <div class="FormItem FormItem--stacked ContactPage-form_item">
                    <label for="ContactPage-company">Company</label>
                    <input id="ContactPage-company" type="text">
                </div>
                <div class="FormItem FormItem--stacked ContactPage-form_item ContactPage-form_item--message">
                    <label for="ContactPage-message">Message</label>
                    <textarea id="ContactPage-message"></textarea>
                </div>
                <div class="FormItem--actions">
                    <button type="button" class="FormItem-action FormItem-action--primary ContactPage-form_submit">Send My Message</button>
                </div>
            </form>
        </section>
        <section class="ContactPage-contacts">
            <h2 class="ContactPage-contacts_title">Dolor Sit Amet</h2>
            <div class="ContactPage-contact_option ContactPage-contact_info--address">
                <h3 class="ContactPage-contact_option_title">Address</h3>
                123 Fake Street<br>
                Springfield, XY X9581
            </div>
            <div class="ContactPage-contact_option ContactPage-contact_info--phone">
                <h3 class="ContactPage-contact_option_title">Phone</h3>
                <p>Phone: <a href="tel:5555550100">555.555.0100</a></p>
                <p>Fax: <a href="tel:5555550100">555.555.0100</a></p>
            </div>
            <div class="ContactPage-contact_option ContactPage-contact_info--email">
                <h3 class="ContactPage-contact_option_title">Email</h3>
                <p><a href="mailto:user@example.com">user@example.com</a></p>
            </div>
        </section>
    </div>
    
    <div class="ContactPage-google_map GoogleMap" data-googlemap>
        <div data-googlemap-marker data-googlemap-lat="40.7629136" data-googlemap-lng="-73.4294749">
            <h2>Lorem Ipsum Dolor Sit Amet</h2>
            <p>Lipsum generator</p>
        </div>
    </div>
</main>
