@@include('./assets/frag/html.frag.html')

<title>PageTransition component - Phylactery 1.0.0 by HUEMOR</title>

<body data-offcanvas-hover-min="960">

<main id="pagetransition-content" data-pagetransition-region class="PageTransition--cartoon">
    @@include('./components/SiteHeader/phylactery_siteheader.frag.html')
    <div class="PageTransition-backdrop PageTransition--cartoon-backdrop" data-pagetransition-backdrop>
        <div class="PageTransition-fbf_animation PageTransition--cartoon-fbf_animation"></div>
    </div>
    <header class="HeroHeader HeroHeader--thin HeroHeader--dark_bg" style="background-image: url(../../../components/HeroHeader/test_background.svg);">
        <div class="HeroHeader-valign">
            <div class="HeroHeader-container">
                <h1 class="HeroHeader-title">PageTransition component</h1>
            </div>
        </div>
    </header>

    <section class="Example-content">
        <div class="Container Example-section">
            <h2>Cartoon Transition Demo</h2>
            <p>You'll need to <a href="../index.html">go back</a> in order to see
            it.</p>
        </div>
    </section>
</main>
